html {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gainsboro;
}
@media only screen and (min-width: 768px) {
 /* nav, #notificons {
  position:fixed;
}*/
.modal-content {
    width: 50%;
}
.recentss, #techtipscontent{
  margin: 0 20%;
}
#aboutpara{
 margin:0 30%;
}
}
@media only screen and (max-width: 600px) {
.modal-content {
    width: 100%;
}
}

#loader {
  margin:15% auto;
  border: 16px solid rgba(100,200,50,1);
  border-radius: 50%;
  border-top: 16px solid rgba(50,100,200,1);
  width: 10em;
  height: 10em;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


ul #notificons{
  background-color: gainsboro;
  opacity: .5;
  top: 0%;
  position: fixed;
  width: 100%;
  left: 0;
}
ul #notifname {
  color: black;
  position: fixed;
  top: 0%;
  margin-left: 1em;
  font-weight: bold;
  font-size: 18px;
  font-family: Verdana;
}
li {
  float: right;
  display: inline;
  padding-right: 1em;
}
#locktime {
  color: white;
  text-align: center;
  font-size: 75px;
  font-family: 'Arial';
  font-weight: 500;
}
#today {
  color: white;
  text-align: center;
  font-family: 'Comic Sans MS';
  font-size: 25px;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeOut;
  animation-duration: 1.5s; 
}
@-webkit-keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s; 
}
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

#unlockbtn {
  text-decoration: none;
  color: white;
  border: none;
  background-color: #00bfff;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 100px;
  text-align: center;
  font-size: 20px;
  width: auto;
  cursor: pointer;
  margin: auto;
}
#unlockbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#unlockbtn span:after {
  content: "  Click to unlock";
  position: absolute;
  opacity: 0;
  right: -0.5em;
  transition: 0.5s;
}
#unlockbtn:hover span {
  padding-right: 7em;
}
#unlockbtn:hover span:after {
  opacity: 1;
  right: 0;
}
nav, #notificons {
  position: fixed;
}
nav {
  background-color: silver;
  text-align: center;
  opacity: .5;
  bottom: 0px;
  position:fixed;
  left: 0;
  right: 0;
}
#navicons {
  padding: 15px 25px 15px 25px;
  font-size: 2em;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

#lockbtn {
  border-radius: 100px;
  z-index: 1;
  background-color: #00bfff;
  background-color: rgba(50,10,20,0.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding:10px 30px 10px 15px;
  width: 50px;
  top: 20px;
  cursor: pointer;
  left: 1%;
  position: fixed;
}
#lockbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#lockbtn span:after {
  content: "LockBlog";
  position: relative;
  opacity: 0;
  right: 20px;
  transition: 0.5s;
}
#lockbtn:hover span {
  padding-right: auto;
}
#lockbtn:hover span:after {
  opacity: 1;
  right: 0;
}
.button {
  border-radius: 100px;
  z-index: 1;
  background-color: #00bfff;
  background-color: rgba(20,50,10,0.8);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding:10px 30px 10px 20px;
  width: 50px;
  top: 65px;
  cursor: pointer;
  left: 1%;
  position: fixed;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "Notifications";
  position: relative;
  opacity: 0;
  right: 20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: auto;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

#welcome {
  visibility: hidden;
}
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-duration: ease;
  visibility: visible !important;
}
@keyframes slideDown{
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(30%);
    }  
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
}
@-webkit-keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(30%);
    }  
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    } 
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease;
  -webkit-animation-duration: ease;
  visibility: visible !important;
}
@keyframes slideUp{
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-200%);
    }
}
@-webkit-keyframes slideUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-200%);
    } 
}
.slideshowcontainer {
  width: 18em;
  height: 10em;
  position: relative;
  margin: auto;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,10,0.9);
}
.modal-content {
    position: relative;
    background-color: rgba(255,255,255,0.1); 
    margin: auto;
    padding: 10px;
    border-radius: 2em; 
    height: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
#modalclose {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
}
#modalclose:hover,
#modalclose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
  padding: 5px 20px;
  border-radius: 1em 1em 0em 0em;
  color: white;
  width: auto;
  background-color: rgba(255,255,255,0.4);
}
.modal-header #day , #time2{
  font-family: "Arial";
}
.modal-body {
  padding: 5px 50px;
  border-radius: 0em;
  background-color: rgba(255,255,255,0.2);
  color: white;
  text-align: center;
}
.modal-body #abouthome, #about0, #about5, #about1, #about2, #about3, #about4 {
  text-decoration: none;
  border-radius: 1em;
  background-color: rgba(0,0,0,0.3);
  font-size: 2em;
  font-weight: bolder;
  color: green;
  transition: width 1s, height 1s, transform .3s;
  padding: 20px;
}
.modal-body #about0:hover, #about1:hover, #about2:hover, #about3:hover, #about4:hover, #about5:hover, #abouthome:hover {
  background-color: rgba(0,0,0,0.9);
}
.modal-footer {
    padding: 2px 16px;
    border-radius: 0em 0em 1em 1em;
    background-color: rgba(255,255,255,0.1);
    color: white;
    font-family: Comic Sans MS;
}
#audioboard1, #audioboard2{
  text-align: center;
  padding: 10px;
  color: blue;
} 
#icons{
    text-align: center;
    position: relative;
    padding-top: 25px;
    filter: contrast(90%);
}
#icons a{
  font-size: 55px;
  padding:20px 20px 7px 20px; 
  text-decoration: none;
  transition: width 1s, height 1s, transform 0.3s ease;
}
#iconname {
  font-size: 13px;
  color: white;
  font-family: Arial;
}
#icons a:hover {
  filter: contrast(300%) brightness(150%);
  transform: scale(1.3);
}

#inputbox {
  background-color: rgba(0,0,0,0.5); 
  border: none;
  color: lightgreen;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}
.contactformbutton {
  padding: 10px;
  margin-right: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

 tr, td{
  border: 2px solid black; 
  font-size: 1em;
  margin: 30px;
}
.gamebutton {
  background-color: rgba(110,200,50,0.7);
  border:none;
  color: black;
  padding: 1em;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
}
#startgame, #replaygame{
  background-color: rgba(100,50,350,0.7);
  color: white;
  font-size: 1em;
  padding: 1em;  
  cursor: pointer;
}
.recentss a:hover {
    background-color: black;
}
#gamehome {
  text-align: center;
}
#gametable button {
  padding: 30px;
  font-size: 30px;
  margin: 5px; 
  cursor: pointer;
}
